{{#if url}}
<div class="result">
  <h3>Success! Please use this link:</h3>
  <div id="fullURL"><a href="/{{url.short}}" target="_blank">{{urlHost}}{{url.short}}</a></div>
</div>
<button class="copy" onclick="copy()">Copy</button>
<p><a href="/" class="newURL"><i class="fa-solid fa-arrow-right"></i> Create other shortened URL</a></p>
{{else}}
<form method="POST" action="/">
  <input type="url" name="url" placeholder="Input URL here..." aria-label="Input URL here"
    aria-describedby="search-button">
  {{#if errors}}
  {{#each errors}}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{this.msg}}
  </div>
  {{/each}}
  {{/if}}
  <button type="submit">Shortener</button>
  {{/if}}
</form>
<!--
{{#if short.length}}
<table>
  <thead>
    <tr>
      <th>Full URL</th>
      <th>Short URL</th>
      <th>Copy</th>
    </tr>
  </thead>
  <tbody>
    {{#each url}}
    <tr>
      <td><a href="{{this.full}}">{{this.full}}</a>
      </td>
      <td><a href="/{{this.short}}">{{this.short}}</a></td>
      <td class="copy"><i class="fa-solid fa-copy"></i>Copy</td>
    </tr>
    {{/each}}

  </tbody>
</table>
{{/if}}-->